@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit Variable', sans-serif;
}

.btn,
.input,
.textarea {
  @apply shadow-none border-none focus:outline-none focus:border-none text-base font-normal;
}

svg {
  @apply w-6 h-6;
}

.no-scroll {
  @apply overflow-hidden;
}

.custom-dialog {
  @apply fixed top-0 bottom-0 right-0 left-0 overflow-auto;
}
